<div class='show'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @movie.title %>
  </p>

  <div class='pic'>
    <%= image_tag @movie.movie_image.url %>
  </div>

  <p>
    <strong>Description:</strong>
    <%= @movie.description %>
  </p>

  <p>
    <strong>First seen on:</strong>
    <%= @movie.category.try(:name) %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= @movie.review %>
  </p>

  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>